<div class="top-navbar">
    <header>
        <div class="start">
            <button mat-button class="menu-button" (click)="advise()">
                <mat-icon [inline]="true" *ngIf="!this.deployed">menu</mat-icon>
                <mat-icon [inline]="true" *ngIf="this.deployed">menu_open</mat-icon>
            </button>

            <a routerLink="/">
                <span class="app-title">C2I - Gestion</span>
            </a>
        </div>
    </header>
</div>

<mat-sidenav-container>
    <mat-sidenav opened mode="side" [(opened)]="this.deployed">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['page-one']" (click)="this.retract()">Accueil</a>
            <a mat-list-item [routerLink]="['page-two']" (click)="this.retract()">Import étudiants</a>
            <a mat-list-item [routerLink]="['page-three']" (click)="this.retract()">Page Three</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav opened mode="side" [(opened)]="this.retracted">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['page-one']" (click)="this.retract()">
                <mat-icon [routerLink]="['page-one']">home</mat-icon>
            </a>
            <a mat-list-item [routerLink]="['page-two']" (click)="this.retract()">
                <mat-icon [routerLink]="['page-two']">person_add</mat-icon>
            </a>
            <a mat-list-item [routerLink]="['page-three']" (click)="this.retract()">
                <mat-icon [routerLink]="['page-three']">help_outline</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>