<div class="body">
    <h1>Import d'étudiants</h1>
    <div class="row">
        <div class="col-8">
            <label class="btn btn-default p-0">
            <input #csvReader name="Upload CSV" type="file" (change)="selectFile($event)" />
          </label>
        </div>

        <div class="col-4">
            <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                <span class="material-icons-outlined">
                    <mat-icon [inline]="true">file_upload</mat-icon>
                </span>
          </button>
        </div>
    </div>

    <div *ngIf="currentFile" class="progress my-3">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
        </div>
    </div>

    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

    <table class="minimalistBlack" *ngIf="records.length > 0">
        <thead>
            <tr>
                <th>ID </th>
                <th>Nom </th>
                <th>Prenom </th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="resetPair()"></div>
            <tr *ngFor="let record of records;let i = index;">

                <td class="white-row" *ngIf="!isPair()"> <span>{{record.id}}</span> </td>
                <td class="white-row" *ngIf="!isPair()"> <span>{{record.nom}}</span> </td>
                <td class="white-row" *ngIf="!isPair()"> <span>{{record.prenom}}</span> </td>
                <td class="colored-row" *ngIf="isPair()"> <span>{{record.id}}</span> </td>
                <td class="colored-row" *ngIf="isPair()"> <span>{{record.nom}}</span> </td>
                <td class="colored-row" *ngIf="isPair()"> <span>{{record.prenom}}</span> </td>
                <div *ngIf="swapPair()"></div>
            </tr>

        </tbody>
    </table>




</div>